@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Poppins, "sans serif";
  background-color: rgb(229 231 235);
}

.cover-video{
  height: 140px;
}

.savoir{
  background-color: #1e293b!;
}

@layer base{

  h3 {
    @apply  font-[800] pb-[24px] md:pb-[30px] lg:pb-[32px] pt-[32px] md:pt-[40px] lg:pt-[40px] text-[24px] md:text-[38px] lg:text-[50px] leading-[34.38px] md:leading-[56.06px] lg:leading-[74.75px]
  }
}


